.screen{
	width: 100vw;
	height: 100vh;
}
.typewindow{
	width: 40rem;
	height: 10rem;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-style: solid;
	border-width: 0.3rem;
	border-color: #000;
	font-size: 2rem;
	font-family: Terminus, Arial;
}
.char{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
.metric{
	position: absolute;
	margin: 0;
	padding: 0;
	text-size: 3rem;
}
.wpm{
	top: -7.5rem;
	left: 3rem;
}
.err{
	top: -5rem;
	left: 3rem;
}
.avg{
	top: -7.5rem;
	right: 3rem;
}

.avgerr{
	top: -5rem;
	right: 3rem;
}

